/* Bootstrap overrides */
.form-group{
  margin-bottom: 10px;
}

.navbar{
  border-radius: 0;
}


/* Event Info box on Driver page */
.event-info{
  border: 1px solid #000;
  margin-bottom: 15px;
  padding: 10px;
}

.event-image-display img{
  float: left;
  margin-right: 10px;
}

.event-info-description{
  float: left;
}
.event-info-description h3{
  margin: 0 0 5px 0;
}


/* Event Search Page */
.event{
  border-bottom: 1px solid #000;
  padding: 10px;
}
.event h3{
  margin: 10px 0;
}
.event:nth-child(even){
  background-color: rgba(192, 192, 192, 0.4);
}
