/* Bootstrap overrides */
.form-group{
  margin-bottom: 10px;
}

.navbar{
  border-radius: 0;
}


/* Event Search Page */

.event{
  padding: 10px;
}
.event h3{
  margin: 10px 0;
}
.event:nth-child(even){
  background-color: rgba(192, 192, 192, 0.4);
};



/* Event Info box on Driver page */
.event-image-display{
  float: left;
  margin: 10px;
}

.event-info-description{
  float: left;
  margin: 10px;
}